# Google Cloud Configuration
GCP_PROJECT_ID=hybrid-cloud-489008
GCP_REGION=us-central1
GCS_BUCKET=pravallika-hybrid-bucket-2026


# LocalStack / AWS Configuration
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=us-east-1
AWS_ENDPOINT_URL=http://localhost:4566

# AWS Resources
S3_BUCKET_NAME=test-bucket
SQS_QUEUE_NAME=test-queue
